/* ******************************************************** */
/* -------------------------COLORES------------------------ */
:root{
    --white: rgb(255, 255, 255);
    --black: rgb(39, 39, 39);
    --grey: rgb(59, 59, 59);
    --greyLight: rgb(179, 179, 179);
    --primary: rgb(240, 203, 168);
    --primaryLight: rgb(231, 206, 183);
    --secondary: rgb(183, 146, 204);
    --secondaryLight: rgb(231, 210, 243);
    --secondaryDark: rgb(98, 72, 114);
}

/* ----------------------ESTILO GENERAL-------------------- */
html{
    font-family: quicksand;
    font-size: 50%;
    height: 100vh;
    color: var(--white);
    font-weight: lighter;
    scroll-behavior: smooth;      
    text-align: center;
}

.meter_porfolio img{
   height: fill;
   width: 100%;
}

/* ----------------TAMAÑO DE LA CAJA GENERAL---------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------------------ESTILO FUENTES---------------------- */
h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
}

h2{
    font-size: 2rem;
    font-weight: lighter;
    color: var(--black);
}

h3{
    font-size: 2rem;
    font-weight: lighter;
}

h4{
    font-size: 1rem;
    font-weight: lighter;
    color: var(--white);
}
p{
    font-size: 2rem;
    font-weight: lighter;
    color: var(--secondaryDark);
    margin:2% 15%;
}

.slider-container p{
    font-size: 2rem;
    font-weight: lighter;
    color: var(--white);
}

.slider-container h3{
    font-size: 3rem;
    font-weight: lighter;
    color: var(--white);
}


/* ******************************************************** */
/* --------------HEADER--------------- */
header div{
    margin: 5rem;
    display: flex;
    flex-direction: row;
    gap: 3rem
}

header h1{
    font-size: 2rem;
}

hr{
    filter: opacity(50%);
    margin: 3rem;
}

/* ---------ENLACE ARTSTATION BANNER---------- */
.artsation_banner img{
    width: 5rem;
    margin: 1rem;
}

.artsation_banner img:hover{
    filter: opacity(20%);
    cursor: pointer;
    scale: 80%;
}

/* --------------NAVEGADOR--------------- */

/* --------Caja-------- */
.buscador{
    background-color: var(--secondaryLight);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* --------Letras enlaces-------- */
.buscador a{
    font-size: 2rem;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

.buscador a:hover{
    color: var(--white);
}

/* --------Diseño responsive buscador-------- */
@media (max-width: 720px){
    .buscador{
    display: flex;
    flex-direction: column;
    }
} 

/* ------------------------MAIN------------------------- */
/* --------Foto de perfil-------- */
.foto_perfil{
    scale: 20%;
    border-radius: 100%;
    display: flex;
    align-items: left;

}

/* -----------------CONÓCEME----------------- */
.sobremi img{
    margin: auto;
    width: 100%;
}
/* -----------------CV----------------- */
.cv{
    margin: auto;
}

.cv img{
    margin: auto;
    width: 100%;
}

/* --------Selector de proyectos-------- */
.selector_proyectos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}

.selector_proyectos img{
    width: 16rem;
}

.selector_proyectos img:hover{
    opacity: 70%;
    scale: 105%;
}

@media (max-width: 720px){
    .selector_proyectos img{
    scale: 50%;
    }
} 

/* --------Imágenes carrusel TIPO SLIDE-------- */
@keyframes slideShow { /* --------animación-------- */
    0%, 20% {
        transform: translateX(0);
    }
    25%, 45% {
        transform: translateX(-25%);
    }
    50%, 70% {
        transform: translateX(-50%);
    }
    75%, 95% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider-container {
    /* width: 100%;
    height: 100%; */
    width: 960px;
    height: 540px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
}

@media (max-width: 720px){
    .slider-container{
    scale: 70%;
    width: 100%;
    height: 100%;
    }
    .slider-container2{
        scale: 70%;
        width: 100%;
        height: 100%;
    }
} 

.slider {
    width: 400%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    animation: slideShow 25s infinite;
}

.slide {
    width: 25%;
    height: 100%;
    position: relative;
}

.slide img {
    width: 960px;
    height: 540px;
    object-fit: fill;
}

.slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

/* --------Animación carrusel TIPO TURNAROUND-------- */
@keyframes imageRotation { /* --------animación-------- */
    0%, 20% {
        opacity: 1;
    }
    30%, 100% {
        opacity: 0;
    }
}

.slider-container2 {
    width: 720px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation-name: imageRotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.image:nth-child(1) {
    animation-delay: 0s;
}

.image:nth-child(2) {
    animation-delay: 0.25s;
}

.image:nth-child(3) {
    animation-delay: 0.5s;
}

.image:nth-child(4) {
    animation-delay: 0.75s;
}

.image:nth-child(5) {
    animation-delay: 1s;
}

.image:nth-child(6) {
    animation-delay: 1.25s;
}

.image:nth-child(7) {
    animation-delay: 1.5s;
}

.image:nth-child(8) {
    animation-delay: 1.75s;
}

/*!------------- ICONO SUBIR -------------*/
.flecha_subir img{
    width: 5rem;
    margin: 5%;
    filter: 
    brightness(5.5) 
    sepia(6) 
    hue-rotate(204deg) 
    saturate(20);
}

.flecha_subir img:hover{
    opacity: 60%;
}

/* ******************************************************** */
/* ----------------------FORMULARIO----------------------- */
.formulario{
    background-color: #b792ccc0;
    padding-bottom: 6rem;
    text-align: center;
    border-radius: 20px;
}

.contacto{
    padding: 100px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.formulario legend{
    color: var(--white);
    font-size: 2.3rem;
    font-weight: bold;
    padding: 3rem; /* espacio entre las celdas y la caja */
}

.container_input{
    margin-bottom: 1rem; /* espacio entre las celdas */
}

.container_input input, textarea{
    width: 55%;
    border: none;
    border-radius: 5px;
    padding: 1rem; /* tamaño de cada celdas */
}

/* --------Botón-------- */
.boton_enviar{
    background-color: var(--secondaryLight);
    border: none;
    color: var(--secondaryDark);
    padding: 1rem;
    width: 55%;
    border-radius: 6px;
}

.boton_enviar:hover{
    filter: opacity(80%);
    cursor: url('../img/mouse_pointer.png'), pointer;
}

/* ----------------------MAPS----------------------- */
iframe{
    margin: auto;
}

/* ******************************************************** */
/* ----------------------FOOTER----------------------- */
footer{
    text-align: center;
    background-color: var(--secondaryDark);
    padding: 20px;
}

footer img{
    width: 4rem;
    margin: 1rem;
}

footer img:hover{
    filter: opacity(20%);
    cursor: pointer;
    scale: 80%;
}
/* ******************************************************** */